<div id="bug#new">
	<div class="row">
	  <div class="col s12 m12 l8 offset-l2">
		<%= simple_form_for @bug, :html => {:class => 'form'} do |f| %>
		
		<br>

		<%= f.input :title, label: "名稱" %>
		<div id="bug_input">
		  
		  <%= f.input :body, label: "BUG詳細內容" %>
		  <div id="epiceditor"></div>
		</div>
		<%= f.filepicker_field :filepicker_url %>
		<%= f.submit '送出', class: "btn " %>
		<% end %>
	  </div>
	</div>
</div>

<%= content_for :javascripts %>
<%= javascript_include_tag "bundle/bug_show_bundle.js" %>