<div class="row">
  <h2><%= @bug.title %></h2>
	
  <% if @bug.filepicker_url.present? %>
    <%= image_tag @bug.filepicker_url %>
  <% end %>
  <p><%= @bug.body %></p>
  <p><%= convert_chinese @bug %></p>
</div>

<div class="row">
  <h3>解決方法</h3>
  <%= render @bug.comments %>
</div>

<div class="row">
  <%= render 'partial/form' %>
</div>
