<div class="row">
  <h4><%= @bug.title %></h4>
	
  <div class="col s12 m12 l12">
    <% if @bug.filepicker_url.present? %>
    <div class="image_container">
      <%= image_tag @bug.filepicker_url %>
    </div>
    <% end %>
    <article class="content_area">
      <%= simple_format @bug.body %>    
    </article>
  </div>
  
  
</div>

<div class="row">
  <h5>開發者筆記</h5>
  <%= render @bug.comments.order(created_at: :desc) %>
  
</div>

<div class="row">
  <% if can? Comment,:manage %>
  <%= render 'partial/form' %>
  <% end %>
</div>
<%= content_for :javascripts %>
<%= javascript_include_tag "bundle/comment_form_bundle.js" %>