<!DOCTYPE html>
<html>
<head>
  <title>Bugu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="<%= current_page %>">	
<div class="container">
  <%= yield %>	
</div>
</div>
<% if Rails.env.development? %>
  <%= debug params %>
<% end %>
<%= yield :javascripts %>
</body>
</html>


