<!DOCTYPE html>
<html>
<head>
  <title>Bugu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav id="bug_navbar">
    
      <% if !user_signed_in? %>
      <ul class="right">
        <li><%= link_to "快速登入", user_omniauth_authorize_path(:google_oauth2) %></li>
      </ul>
      <% else %>
      <ul class="right"><li><%= link_to '登出', destroy_user_session_path, method: :delete %></li></ul>
      <ul class="left">
        <li><%= link_to '回到首頁', root_path %></li>  
      </ul>
      <% end %>
    
  </nav>
</header>
<div id="<%= current_page %>" class="fullpage">	
<div class="container">
  <%= yield %>	
</div>
</div>
<% if Rails.env.development? %>
  <%= debug params %>
<% end %>
<%= flash[:notice] %>
</body>
<% if notice != nil %>
<script>
  
  Materialize.toast('<%= flash[:notice] %>',4000,'rounded');
 
</script>
<% end %>
<%= yield :javascripts %>
<%= filepicker_js_include_tag %>
</html>


